# {{ ansible_managed }}

password    required                        pam_pwquality.so     retry={{ pam_pwquality_retry }} minlen={{ pam_pwquality_minlen }} difok={{ pam_pwquality_difok }} minclass={{ pam_pwquality_minclass }}
password    requisite                       pam_pwhistory.so     remember={{ pam_pwhistory_remember }} use_authtok
password    [success=1 default=ignore]      pam_unix.so          obscure use_authtok try_first_pass sha512
password    requisite                       pam_deny.so
password    required                        pam_permit.so
